<section class="cart container">
  <% if(session.cart){ %>
  <div class=" order-summary">
    <div class="description">
      <img src="img/cart-black.png" alt="" />
      <h2>Order Summary</h2>
    </div>
    <%for(let item of Object.values(session.cart.items)){ %>
    <div class="order-list">
      <div class="product-descriptor">
        <img src="img/pizza.png" alt="" />
        <div>
          <p><%= item.name%></p>
          <p><%= item.size%></p>
        </div>
      </div>
      <h4 class="total"><%= item.qty%></h4>
      <h4 class="price">$<%= item.price%></h4>
    </div>
    <% } } else{%>
    <div class="container no-order">
      <p>Sorry you have not select any product</p>
      <h3>
        For slecting products <br />
        go to the home page
      </h3>
      <img src="img/empty-cart.png" alt="" />
      <a href="/"><button type="button">Home</button></a>
    </div>
    <%}%> <% if(session.cart){%>
    <h3 class="total-price">Total price: $ <%= session.cart.totalPrice%></h3>
    <form action="" class="form-controle">
      <p>
        Adress:
        <input type="text" name="adress" placeholder="Give your adress" />
      </p>
      <input type="submit" value="Submit" />
    </form>
  </div>
  <%}%>
</section>
